$gold-color: #ffc53d;
$red-color: #ff4d4f;
$orange-color: #ffa940;
$yellow-color: #ffec3d;
$lime-color: #bae637;
$green-color: #73d13d;
$blue-color: #40a9ff;
$pink-color: #f759ab;
$purple-color: #9254de;
$border-color: rgba(0, 0, 0, 0.1);
$grey-color: #d9d9d9;
$white-color: #fff;
$black-color: #000;
$background-color: #f8f8f8;