$gold-color: #ffc53d;

$red-color: #cf1322;
$red-light-color: #fff1f0;
$red-middle-color: #ffa39e;

$orange-color: #d46b08;
$orange-light-color: #fff7e6;
$orange-middle-color: #ffd591;

$yellow-color: #f4ea2a;
$lime-color: #bae637;

$green-color: #389e0d;
$green-light-color: #f6ffed;
$green-middle-color: #b7eb8f;

$blue-color: #096dd9;
$blue-light-color: #e6f7ff;
$blue-middle-color: #91d5ff;

$pink-color: #f759ab;

$purple-color: #531dab;
$purple-light-color: #f9f0ff;
$purple-middle-color: #d3adf7;

$border-color: rgba(0, 0, 0, 0.1);
$grey-color: #d9d9d9;
$white-color: #fff;

$black-color: #000;
$black-light-color: #454545;
$background-color: #f5f5f5;
